<div class="card mb-3">
    <div class="card-header">
        <h3><i class="fa fa-table"></i> Ocorrências <a href="#" onclick="incluir();" title="Incluir" class="fa fa-plus" style="float:right ; color:lightseagreen">&nbsp;Incluir</a></h3>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table id="grid" class="table table-bordered table-hover display dataTable no-footer" role="grid" aria-describedby="example1_info"></table></br>
        </div>
    </div>
</div>

