<div class="form-SubTiposDenunciantes" style="display:none;">
    <form onsubmit="SalvarRegistroAvulso(this,0);">
        <div class="form-group teste">
            <label for="email">Descrição</label>
            <input class="form-control" name="descricao" type="text" required id="descricao" />
        </div>
        <div class="row">
            <div class="col-lg-2">
                <button class="btn btn-sm btn-block btn-primary" type="submit" style="margin-top: 20px;">Enviar</button>
            </div>
            <div class="col-lg-2">
                <button class="btn btn-sm btn-block btn-primary" type="button" onclick="FecharSubFormularioAvulso();" style="margin-top: 20px;">Fechar</button>
            </div>
        </div>
    </form>
</div>